.certificates-page {
    padding: 20px;
    text-align: center;
}

.certificate-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.certificate-thumbnail {
    margin: 20px;
    width: 400px;
    height: auto;
    cursor: pointer;
}

.certificate-thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}