.we-deals-with {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.carousel2 {
    display: flex;
    overflow: hidden;
    width: 90%; 
}

.carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.card2 {
    flex: 0 0 10%; /* Show 10 cards at a time, adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.nav-button {
    padding: 10px;
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.nav-button:hover {
    color: #0056b3;
}
